version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  assignees:
  - viamin
  groups:
    non-major:
      update-types:
      - minor
      - patch
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  assignees:
  - viamin
  groups:
    non-major:
      update-types:
      - minor
      - patch
